@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
.skillsList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  gap: 0px;
  margin: 0 auto;
  padding: 0 15px;
}
.skillsList li {
  color: rgb(22, 22, 22);
  width: 50%;
  margin-bottom: 10px;
  position: relative;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.skillsList li h2,
h3 {
  font-size: 16px;
  width: fit-content;
  margin: 10px auto;
}
.skillsList li:hover {
  color: rgb(220, 63, 63);
  background-color: rgb(22, 22, 22);
  bottom: 5px;
}
.toolsList {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 5px;
  padding: 0;
  flex-wrap: wrap;
  width: 100%;
}
.toolsList li {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.2)
  );
  filter: drop-shadow(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 165px;
  height: 360px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  justify-content: flex-start;
}
.toolsList li:hover {
  color: rgb(243, 243, 243);
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.37);
}

.toolsList li h3 {
  text-align: center;
}
.toolsList li p {
  line-height: 1.2;
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  font-family: "PT Sans", sans-serif;
}
.riveLogo {
  transition: filter 0.3s ease-in-out;
}
.riveLogo:hover {
  position: relative;
  filter: grayscale(0%) invert(1);
}
.toolsList li:hover {
  filter: grayscale(0%);
}

@media screen and (min-width: 800px) {
  .skillsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .skillsList li {
    width: 72.5%;
  }

  .toolsList {
    width: fit-content;
    padding: 0 auto;
    margin: 0 5%;
    width: 95%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
  }
  .toolsList li {
    width: 260px;
    height: 360px;
  }
  .toolsList li p {
    width: 87.5%;
    margin: auto auto;
    font-size: 22px;
  }
}
