.images {
  position: relative;
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  height: 240px;
}
.images img {
  position: absolute;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  border: 10px solid rgb(22, 22, 22);
}

.computerBottom {
  position: absolute;
  top: 76%;
  left: 40%;
  width: 20%;
  height: 7.5%;
  border-radius: 50%;
  background: rgb(22, 22, 22);
}
.computer {
  position: absolute;
  top: 63%;
  left: 47.5%;
  width: 5%;
  height: 15%;
  background: rgb(22, 22, 22);
}
.mobile {
  position: absolute;
  left: 30%;
  top: 0%;
  width: 31%;
  aspect-ratio: 1/2;
}
.tablet {
  top: 10%;
  left: 2.5%;
  width: 80%;
  aspect-ratio: 2/1;
}
.desktop {
  width: 95%;
  aspect-ratio: 2/1;
}

.tabletBtn {
  position: absolute;
  z-index: 5;
  top: 40%;
  right: 5%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(165, 165, 165);
}
.back {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: -6%;
}
.fore {
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: -7%;
}
@media screen and (min-width: 800px) {
  .images {
    height: 360px;
  }
  .mobile {
    left: 40%;
    width: 20%;
  }
  .desktop {
    top: 10%;
    width: 65%;
    left: 15%;
  }
  .computer {
    top: 55%;
  }
  .computerBottom {
    top: 65%;
  }
  .back {
    font-size: 42px;
    left: -3%;
  }
  .fore {
    font-size: 42px;
    right: -3%;
  }
  .tablet {
    width: 70%;
  }

  .tabletBtn {
    right: 15%;
    top: 27%;
  }
}
@media screen and (min-width: 1200px) {
  .computer {
    top: 60%;
  }
  .computerBottom {
    top: 70%;
  }
  .tabletBtn {
    width: 25px;
    height: 25px;
    right: 20%;
    top: 34%;
  }
}
@media screen and (min-width: 1500px) {
  .desktop {
    top: 2.5%;
  }
  .computer {
    top: 67.5%;
  }
  .computerBottom {
    top: 77.5%;
  }
  .back {
    font-size: 42px;
    left: -3%;
  }
  .fore {
    font-size: 42px;
    right: -3%;
  }

  .tabletBtn {
    right: 21%;
    top: 40%;
  }
}
@media screen and (min-width: 1850px) {
  .desktop {
    top: 2.5%;
  }
  .computer {
    top: 80%;
  }
  .computerBottom {
    top: 90%;
  }
  .back {
    font-size: 42px;
    left: -3%;
  }
  .fore {
    font-size: 42px;
    right: -3%;
  }
  .tablet {
    width: 60%;
    left: 15%;
  }
  .tabletBtn {
    right: 20%;
    top: 45%;
  }
}
